
<form action="/respond" method="post">

  <p>Name: <input id="namebox" type="text" name="name" placeholder="Your name" value=""></p>

  <p>Company:  <input id="companybox" type="text" name="company" placeholder="Company name" value=""></p>

  <p>Will you be attending?  <input type="checkbox" name="isattending" value=""></p>

  <input id="respond" type="submit" name="name" value="Send">

</form>
