
<form action="/respond" method="post">

  <strong>Name</strong>: <input type="text" name="name" placeholder="Your name" value="">

  <strong>Will you be attending?</strong> <input type="checkbox" name="isattending" value="">

  <strong>Are you bringing a +1?</strong> <input type="checkbox" name="hasplusone" value="">

  <input type="submit" name="name" value="Respond to your invitation">

</form>
