<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wedding RSVP</title>
  </head>
  <body>
    <header>
      <h1>Wedding RSVP</h1>
      <hr>
    </header>
    <%= yield %>
    <hr>
    <footer>Thanks for responding to your wedding invitation!</footer>
  </body>
</html>
