<!DOCTYPE html>
<html>
  <head>
    <title>Meet & Hire</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" type="image/png" href="favicon.ico?v=2">
    <link href='https://fonts.googleapis.com/css?family=Macondo+Swash+Caps' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="title">
      <h2>Meet & Hire</h2>
      <h3>October 7, 2015 @ 5:30p</h3>
      <p>20 N Upper Wacker Dr</p>
      <p>12th Floor</p>
      <p>Chicago</p>
    </div>
    <div class="inquiry-box drop-shadow">
      <h6>May I look forward to seeing you?</h6>
          <%= yield %>
    </div>

  <div class="hello-sticker lifted drop-shadow">
    <div class="hello-space">
      <h1>HELLO</h1>
      <h4>my name is</h4>
    </div>
    <div class="name-field">
    <svg width="70%" height="70%" viewBox="0 0 2065 470" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;">
        <g id="Layer1" transform="matrix(1,0,0,1,-1.5,300)">
            <!-- <clipPath id="_clip1">
                <rect x="-20" y="-500" width="2120" height="700"/>
            </clipPath>
            <g clip-path="url(#_clip1)"> -->
                <g>
                    <g transform="matrix(1.76768,0,0,1.76768,-230.068,-507.795)">
                        <path id="letters-D" d="M203.235,158.711C198.026,213.907 196.295,223.896 182.513,269.748C174.301,297.068 168.981,313.552 147.143,308.993C122.925,303.937 129.135,259.759 155.854,259.024C181.062,258.331 207.012,310.8 243.369,313.845C268.453,315.947 281.224,308.056 299.762,290.72C343.047,250.239 361.35,172.766 310.755,131.245C292.26,116.067 257.621,115.001 233.157,126.732C224.719,130.779 218.393,134.832 210.567,146.401C205.001,154.627 203.795,159.321 201.099,169.405C195.651,189.784 197.963,220.936 212.389,238.464C220.794,248.676 233.63,257.066 245.171,261.005C252.823,263.616 295.052,273.968 316.248,253.046"/>
                    </g>
                    <g transform="matrix(1.76768,0,0,1.76768,-247.745,-520.169)">
                        <path id="letters-avid" d="M405.408,258.45C356.833,233.608 315.616,316.427 367.271,321.848C374.241,322.579 384.938,318.113 390.941,308.114C395.817,299.991 399.084,288.265 399.86,284.578C400.951,279.399 400.649,277.07 402.017,271.302C402.499,269.271 404.848,258.062 404.642,260.14C403.673,269.919 400.006,283.662 399.394,292.424C399.056,297.27 398.136,305.281 399.558,310.132C400.704,314.039 403.399,318.511 406.642,319.942C408.455,320.741 410.935,321.382 412.916,321.174C416.569,320.79 419.716,318.425 422.256,315.584C433.944,302.512 432.25,287.295 437.391,271.872C438.764,267.753 442.709,261.463 445.965,259.15C451.364,255.315 457.878,255.092 461.921,257.845C468.541,262.354 467.643,270.232 467.277,276.888C466.421,292.488 463.422,303.625 473.51,317.31C475.595,320.138 479.885,321.04 483.014,321.264C486.32,321.501 488.488,320.946 491.497,319.692C497.094,317.361 505.338,306.847 506.887,292.141C508.352,278.233 511.029,263.323 511.799,256.612C511.979,255.037 514.708,260.837 517.837,261.233C525.526,262.206 551.915,262.938 553.908,255.319C555.855,247.872 550.438,269.572 549.424,271.302C544.938,278.953 536.294,318.295 548.642,320C570.28,322.988 565.488,308.482 570.522,289.887C572.834,281.344 580.571,268.158 587.498,263.205C597.141,256.31 602.429,255.356 609.472,257.007C616.093,258.559 625.689,276.92 624.44,275.892C623.14,274.823 619.771,264.903 617.315,262.421C614.859,259.94 611.483,258.134 610.161,257.496C600.847,252.998 587.156,261.339 580.772,269.996C570.57,283.829 557.418,313.315 582.311,319.413C588.232,320.863 598.084,320.711 603.043,317.724C615.581,310.175 620.309,290.69 623.983,278.681C628.052,265.378 630.522,251.368 634.327,236.266C636.848,226.259 637.935,214.91 640.704,205.06C641.648,201.703 642.678,198.567 642.987,195.064C643.146,193.262 650.19,161.773 647.745,174.437C641.088,208.905 629.648,252.562 623.428,284.578C620.825,297.978 623.449,317.251 633.853,320.189C650.894,325.001 665.956,306.008 662.054,301.423"/>
                    </g>
                    <g transform="matrix(1.76768,0,0,1.76768,-213.745,-1050.47)">
                        <path id="letters-dot" d="M540.97,535.583C538.567,535.583 537.829,535.784 535.911,535.784C530.424,535.784 538.789,543.972 542.043,540.717C544.009,538.752 540.143,536.677 540.143,536.256"/>
                    </g>
                    <g transform="matrix(1.76768,0,0,1.76768,-286.634,-1071.68)">
                        <path id="letters-H-first" d="M844.634,501.977C843.583,518.316 836.874,541.263 831.125,555.246C825.933,567.873 820.81,583.146 793.087,589.243C772.317,593.811 750.377,579.776 740.4,555.543C733.091,537.79 734.891,520.018 743.65,493.723C752.551,467 771.412,438.126 807.661,438.532C841.869,438.914 847.84,486.445 846.992,501.972C846.002,520.109 837.062,537.586 831.61,554.602C828.155,565.386 823.552,575.77 818.96,586.501C815.627,594.292 798.366,638.677 793.378,643.666"/>
                    </g>
                    <g transform="matrix(1.76768,0,0,1.76768,-256.583,-1071.68)">
                        <path id="letters-H-last" d="M951.156,442.111C945.155,456.885 927.653,503.094 921.424,517.763C912.629,538.478 905.269,559.775 896.127,580.318C893.151,587.005 889.639,594.012 887.305,601.02C883.713,611.806 874.028,634.272 886.133,637.763C888.267,638.379 890.406,638.369 893.878,634.722C897.071,631.367 897.766,623.939 897.429,620.233C896.988,615.372 896.462,609.936 895.497,604.037C893.988,594.807 891.204,585.059 886.441,574.848C883.706,568.985 877.262,563.276 873.18,559.948C871.305,558.419 866.41,554.655 859.712,552.082C852.119,549.165 853.938,549.933 846.234,547.768C839.307,545.821 813.462,544.938 809.099,551.193C803.25,559.578 830.583,570.749 841.297,572.459C857.246,575.004 881.767,575.86 893.608,572.865C904.263,570.171 905.715,567.597 906.57,567.012C917.216,559.729 911.904,553.516 913.932,555.544"/>
                    </g>
                    <g transform="matrix(1.76768,0,0,1.76768,-270.725,-1073.45)">
                        <path id="letters-ayes" d="M984.364,573.064C928.067,544.597 899.638,637.225 947.797,637.203C972.918,637.192 978.199,605.724 981.332,589.718C982.119,585.695 983.135,572.971 983.85,571.562C984.104,571.062 984.171,572.483 983.85,573.243C983.122,574.969 981.294,587.964 981.121,592.87C980.693,604.95 981.874,637.791 996.203,637.038C1012.71,636.171 1012.75,616.561 1021.39,594.488C1024.22,587.25 1026.39,567.806 1041.42,567.887C1064.23,568.008 1048.13,608.076 1050.48,622.782C1051.64,630.071 1053.67,637.844 1065.13,637.822C1070.35,637.812 1073.77,636.677 1077.16,634.878C1079.95,633.392 1082.62,630.628 1085.77,625.84C1089.06,620.852 1092.12,606.14 1093.51,600.322C1094.68,595.445 1096.05,587.225 1096.83,582.479C1097.33,579.472 1098.34,570.159 1098.34,570.546C1098.32,576.884 1095.21,592.234 1094.98,598.011C1094.17,618.578 1080.64,662.589 1070.42,679.982C1065.09,689.059 1054.3,705.509 1041.03,700.45C1023.58,693.791 1048.02,669.235 1053.1,664.133C1077.72,639.45 1117.9,615.654 1147.51,599.246C1153.92,595.693 1176.87,585.309 1173.97,580.615C1171.91,577.283 1173.5,575.288 1160.37,570.221C1152.62,567.234 1139.23,571.485 1132.8,579.118C1112.94,602.685 1121.41,619.777 1129.27,629.22C1134.23,635.177 1144.03,637.407 1146.51,637.567C1164.92,638.759 1192.82,631.116 1207.14,618.004C1214.17,611.574 1222.01,601.043 1223.4,588.292C1223.74,585.111 1222.97,570.11 1222.97,571.055C1222.97,572.256 1229.77,580.313 1230.62,581.616C1233.56,586.123 1237.38,591.723 1239.55,596.195C1243.75,604.866 1245.78,613.757 1239.95,625.571C1237.2,631.149 1233.48,632.803 1219.74,637.021C1212.72,639.179 1196.64,638.519 1190.51,636.989C1189.54,636.747 1176.25,633.898 1176.25,633.898C1176.25,633.898 1188.73,636.842 1197.57,638.083C1211.09,639.981 1230.15,636.696 1249.01,625.596C1277.37,608.911 1304.54,581.014 1305.88,577.959"/>
                    </g>
                    <g transform="matrix(1.76768,0,0,1.76768,-247.745,-1050.47)">
                    </g>
                </g>
            <!-- </g> -->
        </g>
    </svg>
    </div>
  </div>
  </body>
</html>
