body {
  font-size: 10px;
  background: url('/images/shirt.jpg') no-repeat;
  background-size: 1900px 1300px;
  position: fixed !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.title {
  margin-left: 100px;
  font-size: 6rem;
  /*font-family: "Trebuchet MS", Helvetica, sans-serif*/
}
.inquiry-box {
  font-family: 'Impact','San-Serif';
  font-size: 2rem;
  text-align: center;
  color: rgba(39, 22, 162, 1);
  margin-left: 75px;
  margin-top: 100px;
  padding: 25px;
  background-color: rgba(245,245,245,.8);
  width: 450px;
  height: 500px;
  border: 3px solid black;
  /*border-radius: 15px;*/
}
#namebox {
  height: 20px;
  width: 300px;
}
#respond {
  background-color: rgb(0,0,255);
  color: rgba(255,255,255,.8);
}
.hello-sticker {
  background-color: rgb(255,0,0);
  border: 20px solid white;
  border-radius: 60px;
  width: 575px;
  height: 375px;
  position: absolute;
  top: 550px;
  left: 925px;

}
.hello-space {
  color: white;
  text-align: center;
}

.drop-shadow {
  box-shadow: 15px 10px 100px -15px;
  color: black;
}
h1 {
  margin: 8px auto 0 auto;
  text-align: center;
  font-family: 'Arial Black', sans-serif;
  font-size: 4rem;
  letter-spacing: 10px;
}
h2 {
  margin: 25px 0 0 0;
  font-family: 'Macondo Swash Caps', cursive;
  font-size: 6rem;
  letter-spacing: 10px;
}
h3 {
  margin: 0 auto 6px auto;
  font-family: 'Macondo Swash Caps', cursive;
  font-size: 3rem;
}
h4 {
  margin: 0 auto 10px auto;
  font-family: 'Arial Black',sans-serif;
  font-size: 2rem;
}
h6 {
  margin: 10px auto 25px auto;
  font-size: 2rem;
}
p {
  margin: 0;
  font-family: 'Macondo Swash Caps', cursive;
  text-align: left;
  font-size: 1.5rem;
}
svg {
  background-color: white;
  margin-top: 10px;
  margin-left: 0;
  height: 150px;
  width: 525px;
  padding-left: 30px;
  padding-right: 30px;
}

#letters-D {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: dash 1s linear forwards;
  display: block;
 fill:none;
 stroke-width: 15px;
 stroke:blue;
}
#letters-avid {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 2s linear .9s forwards;
  display: block;
 fill:none;
 stroke-width: 15px;
 stroke:blue;
}
#letters-dot {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: dash .5s linear 2.5s forwards;
  display: block;
 fill:none;
 stroke-width: 5px;
 stroke: blue;
}
#letters-H-first {
  stroke-dasharray:  800;
  stroke-dashoffset: 800;
  animation: dash .7s linear 2.9s forwards;
  display: block;
 fill:none;
 stroke-width: 15px;
 stroke:blue;
}
#letters-H-last {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: dash .8s linear 3.6s forwards;
  display: block;
 fill:none;
 stroke-width: 15px;
 stroke:blue;
}
#letters-ayes {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 2s linear 4.2s forwards;
  display: block;
 fill:none;
 stroke-width: 15px;
 stroke:blue;
}

.container {
  margin: 0px;
  background-color: white;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes .path {

}
